@model AuditEventModel
@using Web.Admin.Logic.Collections
@using Web.Admin.Logic.Objects
@using Web.Admin.Logic.Utilities
@using Web.Admin.Helpers
@using Web.Admin.Models

@{ 
 var templateId = String.Format("dialog-view-{0}", DateTime.Now.Ticks.ToString());
 var dialogId = templateId.Replace("-view-", "-");
 var contentId = templateId.Replace("-view-", "-content-");
}

<style>legend { margin-bottom:5px; color: #777; background-color:#eee; padding-left:10px;} .details-div{margin-left:10px;}</style>
<template type="text/template" id="@templateId" data-dialog-tittle="Details #@Model.AuditEvent.EventID @Model.AuditEvent.Description" data-dialog-spinner="spinner-@dialogId">
        <div style="word-wrap: break-word;font-size:13px;">
            @foreach (AuditEventItemDetail Item in Model.AuditEventItems)
            {
                if (Item.Description != null && Item.Description.Length > 0)
                {
                    <legend>@Html.Raw(Item.Title)</legend><div class="details-div">@Html.Raw(Item.Description)</div><br /><br />
                }
            }
        </div>
</template>

<script type="text/javascript">
    $(function () {
        var h = $(window).height() - 150;
        var w = $(window).width() - 250;

        var dialog = App.DialogBootstrap("#@templateId", w, h, true,
        {
            //"Close": function () { $(this).dialog("close"); }
        })
    });
</script>