@using Web.Admin.Controllers
@using Web.Admin.Logic.Collections;

@{
    Layout = Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div style="margin-top:50px;margin-left:50px;">
    <h1 style="margin-left:10px">403</h1>
    <div class="col-md-6">
        <p>Forbidden</p>
        <blockquote>
          <p>We're sorry, but the call you are trying to make cannot be completed as dialed. That is to say, something went wrong and the page you're looking for is, sadly, not here.</p>
          <small>Site Administration</small>
        </blockquote>
    </div>
</div>
