<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Web.App.SiteMaster" %>

<%@ Register Src="~/Controls/LayoutSignInControl.ascx" TagPrefix="uc1" TagName="LayoutSignInControl" %>
<%--///////////////////////////CSS///////////////////////////////--%>
<link href="Content/bootstrap.css" rel="stylesheet" />
<link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
<link href="Content/ng-table.css" rel="stylesheet" />
<link href="Content/app.scss" rel="stylesheet" />
<link href="Content/jquery.datetimepicker.css" rel="stylesheet" />

<%--/////////////////////////////////////////////////////////////--%>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - DMCS</title>

</head>
<body>
     <%
        Server_.API.Utilities.Tools.IsAuthTicketValid();
     %>


    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <form runat="server" height="100%">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                
                <%--
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                %-->

                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

     <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <asp:Image ID="nav_logo_image" CssClass="nav-logo-image" runat="server" ImageUrl="~/Content/images/DMCS_logo_Med_White.png" />
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/">Home</a></li>
                        <li><a runat="server" href="~/Home_Dashboard">Command Center</a></li>
                        <li><a runat="server" href="~/About">About</a></li>
                        <li><a runat="server" href="~/Contact">Contact</a></li>
                    </ul>
                    <uc1:LayoutSignInControl runat="server" id="LayoutSignInControl" />
                </div>
            </div>
        </div>
        <div class="container body-content" ng-app="app">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - DMCS</p>
            </footer>
        </div>
    </form>
</body>
</html>
<%--////////////////////////////Java Script///////////////////////--%>
<%--Framework Scripts Start--%>
<script src="Scripts/jquery-1.10.2.js"></script>
<script src="Scripts/jquery.datetimepicker.js"></script>
<script src="Scripts/respond.js"></script>

<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-resource.min.js"></script>
<script src="Scripts/angular-animate.js"></script>
<script src="Scripts/angular-google-maps.js"></script>
<script src="Scripts/angular-google-maps-street-view.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/angular-ui-router.js"></script>
<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="Scripts/angular-ui/ui-utils-ieshiv.min.js"></script>
<script src="Scripts/ngStorage.min.js"></script>
<script src="Scripts/ng-table.js"></script>
<script src="Scripts/toaster.js"></script>
<script src="Angular_Scripts/app/app.js"></script>

<%--/////////////////////////////////////////////////////////////--%>
<%--Framework Scripts End--%>
<%--Routing Scripts Start--%>
<%--/////////////////////////////////////////////////////////////--%>
<%--/////////////////////////////////////////////////////////////--%>
<%--Routing Scripts End--%>
<%--Service Scripts Start--%>
<script src="Angular_Scripts/app/services/homeFactory.js"></script>
<script src="Angular_Scripts/app/services/dateTimeFactory.js"></script>

<%--Service Scripts End--%>
<%--/////////////////////////////////////////////////////////////--%>
<%--Directive Scripts Start--%>
<script src="Angular_Scripts/app/directives/homeDirective.js"></script>

<%--Directive Scripts End--%>
<%--/////////////////////////////////////////////////////////////--%>
<%--Controller Scripts Start--%>
<script src="Angular_Scripts/app/controllers/DashboardTemplateCtrl.js"></script>
<script src="Angular_Scripts/app/controllers/homeCtrl.js"></script>
<script src="Angular_Scripts/app/controllers/gridCtrl.js"></script>
<script src="Angular_Scripts/app/controllers/modalCtrl.js"></script>
<script src="Angular_Scripts/app/controllers/ScriptGeneratorTemplateCtrl.js"></script>
<script src="Angular_Scripts/app/controllers/PetCtrl.js"></script>
<%--Controller Scripts End--%>
<%--/////////////////////////////////////////////////////////////--%>


