@using Web.Admin.Logic.Collections

Your accounthas been activated.
Hello {{name}}!<br/>Your account {{email}} has been activated<br/>
Now you can sign in <a href='{{returnurl}}'>{{returnurl}}</a><br/>
Thank you!
